<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NerdBay</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
    <header>
        <img src=..\..\public\img\NerdBay.png> <br>
        <a href="../"> Home </a>
        <a href="..\login"> Login </a>
        <a href="..\signup"> Sign Up </a>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <img src="..\..\public\img\NerdBay.png"> <br>
        <a href="..\home"> Home </a> <br> <br>
        Team Members: James Lepore || Alex Rubino || Justin Wing || Steven Zhao
    </footer>
    {{!-- <script src="/public/js/script.js"></script> --}}
</body>

</html>