<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <header>
        <h1>The Best Palindrome Checker in the World!</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        James Lepore --- CWID: 10436551
    </footer>
    <script src="/public/js/script.js"></script>
</body>
</html>