<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NerdBay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/site.css">

</head>

<body>
    <header>
        <img src="../../public/img/NerdBay.png" class="logo" alt="NerdBay">
        <br />
        <div class="topnav navbar-expand-md">
            {{!-- <nav class= "navbar navbar-expand-md"> --}}
            <a href="/"> Home </a>
            {{#if loggedIn}}
            <a href="/profile"> My Profile </a>
            <a href="/items/new"> Auction Item! </a>
            <a href="/logout"> Logout </a>
            {{else}}
            <a href="/login"> Login </a>
            <a href="/users/signup"> Sign Up </a>
            {{/if}}
            <form action="/search" class="search" method="POST" id="search-form">
                <label for="search1">
                    Search
                    <input type="text" name="search" id='search1' />
                </label>
                <button class="btn-danger btn-sm" type="submit">Submit</button>
            </form>
            {{!-- </nav> --}}
        </div>
    </header>
    <main>
        {{{body}}}
        <br>
    </main>
    <footer>
        <img src="../../public/img/NerdBay.png" class="logo" alt='NerdBay'>
        <br />
        <div class="bottomnav">
            <a href="/"> Home </a>
            <form action="/search" class="search" method="POST">
                <label for="search2">
                    Search
                    <input type="text" name="search" id='search2' />
                </label>
                <button class="btn btn-danger btn-sm" type="submit">Submit</button>
            </form>
        </div>
        <br>
        <p>Founders of NerdBay: James Lepore, Alex Rubino, Justin Wing, and Steven Zhao</p>
        <br>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/validate.js"></script>
    <script src="/public/js/sort.js"></script>
    <script src="/public/js/hide_sold.js"></script>
    <script src="/public/js/ajax.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {{!-- <script src="tota11y.min.js"></script> --}}
</body>

</html>