<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NerdBay</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
    <header>
        <img src="..\..\public\img\NerdBay.png" class="logo"> <br>
        <div class="topnav">
            <a href="/"> Home </a>
            {{#if loggedIn}}
            <a href="/profile"> My Profile </a>
            <a href="/items/new"> Auction Item! </a>
            <a href="/logout"> Logout </a>
            {{else}}
            <a href="/login"> Login </a>
            <a href="/users/signup"> Sign Up </a>
            {{/if}}
            <form action="/search" class="search" method="POST" id="search-form">
                <label for="search">
                    Search
                    <input type="text" name="search"/>
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
    </header>
    <main>
        {{{body}}}
        <br>
    </main>
    <footer>
        <img src="..\..\public\img\NerdBay.png" class="logo"> <br>
        <div class="bottomnav">
            <a href="/"> Home </a>
            <form action="/search" class="search" method="POST" id="search-form">
                <label for="search">
                    Search
                    <input type="text" name="search" />
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
        <p>Founders of NerdBay: James Lepore, Alex Rubino, Justin Wing, and Steven Zhao</p>
        <br>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/js/validate.js"></script>
    <script src="/public/js/sort.js"></script>
    <script src="/public/js/hide_sold.js"></script>
    <script src="/public/js/ajax.js"></script>
</body>

</html>