* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}

body {
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	max-width: 75%;
	margin: auto;
}

header {
	border-bottom: 1px solid #afafaf;
	color: white;
	background: black;
}

h1 {
	color: #222;
	margin-bottom: 20px;
	font-size: 1.5rem;
	font-style: italic;
}

p {
	font-size: 1rem;
	line-height: 1.25;

}

.index, .result {
	width: 75%;
	padding-bottom: 1em;
}

.p-form .full-width-input {
	max-width: 300px;
	display: block;
	min-height: 3em;
	margin: 10px 0;
	width: 100%;
}

label {
	font-weight: normal;
}

.input-error {
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	border-color: #EE0000;
}

#error {
	color: #ff0000;
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.result p {
	display: inline;
}

.is-palindrome {
	color: #0000FF;
}

.not-palindrome {
	color:#FF0000;
}

.result a {
	color: blue;
	text-decoration: underline;
	display: block;
	margin-top: 20px;
}

.result a:hover {
	color: darkblue;
	text-decoration: underline;
}

.result a:active {
	color: tomato;
	text-decoration: underline;
}

a {
	padding: 8px;
}

footer {
	justify-content: center;
	color: white;
	background: black;
	border-top: 1px solid #afafaf;
}

.topnav {
	background-color: goldenrod;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.search {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}

.bottomnav {
	background-color: blue;
	overflow: hidden;
}

.bottomnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.bottomnav a:hover {
	background-color: #ddd;
	color: black;
}

.bottomnav a.active {
	background-color: #4CAF50;
	color: white;
}

.logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.single-page-img {
	width: 1000px;
	height: 1000px
}

.listing-page-img {
	width: 100px;
	height: 100px
}