<h1>New Item Form</h1>
<form method="POST" action="/items/new" id="item-form" enctype="multipart/form-data">
    <br>
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter your item name here" />
    </div>
    <div class="form-group">
        <label for="short_description">Short Description:</label>
        <input class="form-control" type="text" name="short_description" id="short_description"
            placeholder="Enter your short description here" />
    </div>
    <div class="form-group">
        <label for="item_img" >Image:</label>
        {{#if fileErrors}}
        <input class="form-control" class="input-error" type="file" id="item_img" name="item_img" accept="image/*">
        {{else}}
        <input class="form-control" type="file"  id="item_img" name="item_img" accept="image/*">
        {{/if}}
    </div>
    <div class="form-group">
        <label for="starting_bid">Starting Bid:</label>
        <input class="form-control" type="number" name="starting_bid" id="starting_bid" placeholder="Enter your starting bid here" />
    </div>
    <div class="form-group">
        <label for="end">Ending Date:</label>
        <input class="form-control" type="date" name="end" id="end" placeholder="Enter your ending date here" />
    </div>
    <div class="form-group">
        <label for="endtime">Ending Date:</label>
        <input class="form-control" type="time" name="endtime" id="endtime" placeholder="Enter your ending time here" />
    </div>
    <div class="form-group">
        <label for="tags">Tags - Seperate tags with comma</label>
        <input class="form-control" type="text" name="tags" id="tags" placeholder="Enter your tags here" />
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
<p class="error hidden" id="incomplete-error" ></p>
{{#if hasErrors}}
<p class="error">{{errorMessage}}</p>
{{/if}}